body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #ffffff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

[type=button] {
    border: 0;
}

.page {
    overflow: hidden;
}

/* Container */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;

    background: url("../images/intro/bg.png") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Intro slider */

.intro__slider .slider__item {
    text-align: center;
}

.intro__slider .slider__title {
    font-size: 52px;
    font-weight: 800;
}

.intro__slider .slider__subtitle {
    font-size: 36px;
    font-weight: 500;
}

.intro__slider .slider__text {
    font-size: 16px;
    font-weight: 300;
}

.intro__slider .slider__inner {
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
}

/* Slick */

.intro__slider .slick-slider{
    display: flex;
    position: relative;
    padding: 80px 110px 0;
    justify-content: center;
}

.intro__slider .slick-arrow:before {
    display: none;
}

.intro__slider .slick-arrow {
    display: block;
    font-size: 0;
    color: transparent;

    cursor: pointer;

    border: 0;
    background: none;

    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;

    border-top: 3px solid #a3a2a0;
    border-right: 3px solid #a3a2a0;
}

.intro__slider .slick-arrow:focus{
    outline: 0;
}

.intro__slider .slick-arrow:hover {
    border-top-color: #ccbba8;
    border-right-color: #ccbba8;
}

.intro__slider .slick-prev {
    left: 5%;
    transform: rotate(-135deg);
}

.intro__slider .slick-next {
    right: 5%;
    transform: rotate(45deg);
}




/* Dots Buttons */

.intro__slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    transform: translateY(200px);
    width: 30%;
}

li button:before {
    font-size: 20px!important;
    color: #9c9b9a!important;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 0;
    background-color: rgba(25, 25, 25, 0.9);
}

.header.fixed {
    margin: 0;
    position: fixed;
    background: #111111;
    padding: 10px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header__name {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}


.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    text-decoration: none;
    color: #fff;
}

.nav__link:hover {
    color: #c7b299;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    opacity: 0;

    top: 100%;
    left: 0;
    z-index: 1;
}

.nav__link:hover:after {
    opacity: 100%;
    background-color: #c7b299;
    transition: opacity .1s linear;
}

.nav__link.active {
    color: #c7b299;
}

.nav__link.active:after {
    opacity: 100%;
    background-color: #c7b299;
}


/* Nav-toggle */

.nav-toggle {
    display: none;
    position: absolute;
    font-size: 0;
    color: transparent;
    cursor: pointer;

    border: 0;
    background: none;


    top: 20%;
    right: 15px;
    z-index: 1;
    width: 30px;
    padding: 0 15px;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
	transition: transform .15s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    top: 8px;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: center;
    transform: rotate(45deg);
    top: 0;

}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: center;
    transform: rotate(-45deg);
    top: 0;

}

/* Description */

.description {
    margin-top: 70px;
    margin-bottom: 60px;
    background-color: #fff;
    color: #555555;
}

.description__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.description__item {
    width: 23%;
    margin: 0 5px;
}

.description__icon {
    font-size: 36px;
}

.description__title {
    margin: 20px 0;
    font-size: 22px;
    font-weight: 600;
}

.description__text:after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 30px auto;
    background-color: #555555;
}

/* Section */

.section {
    color: #555555;
    padding-top: 80px;
    background: #fff;
}

.section.section--brown {
    background: #eee9df;
}

.section__header {
    width: 100%;
    max-width: 770px;
    margin: 0 auto 40px;
    text-align: center;
}

.section__title {
    font-size: 24px;
    font-weight: 300;
}

.section__text {
    font-size: 16px;
    font-weight: 300;
}

.section.section--device {
    background: #eee9df;
}

/* Ideas */

.ideas__img{
    display: flex;
    margin: 0 auto;
    width: 100%;
}

.ideas__footer {
    background: linear-gradient(90deg, #211b19, #4e3427);
    padding: 40px 0;
}

.ideas__title {
    display: flex;
    font-size: 28px;
    font-weight: 400;
}

.ideas__brownword {
    color: #c7b299;
}

.ideas__whiteword {
    color: #fff;
}

.ideas__text {
    font-size: 18px;
    font-weight: 300;
    color: #a29894;
}

.ideas__inner {
    display: flex;
    justify-content: space-between;
}

/* Button */

.btn {
    display: inline-block;
    background: #998675;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 800;
    border-bottom: 4px solid #736357;
}

/* Projects */

.projects__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.projects__btn {
    display: inline-block;
    background: none;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
}

.projects__btn:hover {
    background: #998675;
    color: #fff;
    transition: background .1s linear;
}

.projects__btn.active {
    background: #998675;
    color: #fff;
}

.projects__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects__item {
    margin-bottom: 20px;
    width: 32%;
    background: #f9f7f2;
    height: auto;
}

.projects__item:hover {
    background: #362f2d;
    transition: background .1s linear;
}

.projects__item:hover .projects__inner {
    color: #fff;
    transition: color .1s linear;
}

.projects__item:hover .projects__img {
    opacity: .4;
    transition: opacity .1s linear;
}

.projects__item.active {
    display: block;
}

.projects__item.hovered {
    display: none;
}

.projects__photo {
    position: relative;
}

.projects__img {
    width: 100%;
}

.projects__inner {
    padding-left: 30px;
    width: 370px;
    height: 60px;
    color: #a8855a;
    transform: translateY(-20px);
}

.projects__title {
    font-size: 20px;
    font-weight: 500;
}

.projects__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.projects__square {
    display: block;
    background: #f9f7f2;
    z-index: 1000;
    height: 30px;
    width: 30px;
    transform: translateY(-18px) translateX(30px) rotate(45deg);
    left:50px;
}

.projects__item:hover .projects__square{
    background: #362f2d;
    transition: background .1s linear;
}

.projects__links {
    display: flex;
    width: 100%;
    max-width: 100px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translateX(134px);
    text-align: center;
    visibility: hidden;
    color: #fff;
    font-size: 34px;
}

.fas.fa-search:hover,
.fas.fa-link:hover{
    color: #bca992;
    transition: color .1s linear;
}
.projects__item:hover .projects__links {
    visibility: visible;
}

.btn.projects__button {
    display: block;
    margin: 20px auto 50px;
}

/* Video */

.video {
    width: 100%;
    height: 700px;
    background: url(../images/video/bg.png) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video__content {
    text-align: center;
}

.video__button {
    font-size: 100px;
    cursor: pointer;
}

.video__title {
    font-size: 30px;
    font-weight: 500;
}
.video__inner {
    display: flex;
    width: 100%;
    max-width: 575px;
    margin: 10px auto;
}
.video__text {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.posts__content {
    display: flex!important;
    justify-content: space-between;
}

.data-slider_posts.slick-dots {
    transform: none!important;
}

/* Device */

.device__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.device__photo {
    padding: 0 40px;
    vertical-align: bottom;
}

.device__inner {
    padding-bottom: 110px;
    margin-right: 20px;
}

.device__header {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
}

.device__text {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
}

.device__points {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-left: 45px;
}

.device__bullet {
    margin-bottom: 7px;
}

.fas.fa-chevron-circle-right {
    font-size: 20px;
    color: #b49065;
    margin-right: 30px;
}

.device__img {
    vertical-align: bottom;
}

/* Counters */

.counters {
    background: linear-gradient(90deg, #211b19, #4e3427);
    display: flex;
    align-items: center;
}

.counters__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.counters__item {
    flex: 1 1 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 20px 10px;
    border-right: 1px solid #c7b299;
}

.counters__item:last-child {
    border-right:none;
}


.counters__icon {
    color: #c7b299;
    font-size: 48px;
}

.counters__number {
    font-weight: 300;
    font-size: 48px;
    color: #fff;

}

.counters__title {
    color: #c7b299;
    text-transform: uppercase;
}

.counters__title:after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;

    z-index: 1;
    margin: 30px auto;
}


/* Posts */
.posts__slider {
    margin-bottom: 100px;
    position: relative;
}

.posts__item {
    margin: 0 10px 20px;
    width: 32%;
    background: #f9f7f2;
    height: auto;
}

.posts__item:hover {
    background: #362f2d;
    transition: background .1s linear;
}

.posts__item:hover .posts__inner {
    color: #fff;
    transition: color .1s linear;
}

.posts__item:hover .posts__img {
    opacity: .4;
    transition: opacity .1s linear;
}

.posts__item:hover .posts__title {
    color: #c7b299;
    transition: color .1s linear;
}


.posts__photo {
    position: relative;
}

.posts__img {
    width: 100%;
}

.posts__date {
    position: absolute;
    z-index: 1000;
    margin: 20px 0 0 20px;
    color: #fff;
    background: #363636;
    border-radius: 5px;
    text-align: center;
}

.posts__num {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 0 10px;
}

.posts__month {
    font-size: 12px;
    font-weight: 300;
    background: #252525;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.posts__item:hover .posts__date {
    background: #c7b299;
    transition: background .1s linear;
}

.posts__item:hover .posts__month {
    background: #a48d72;
    transition: background .1s linear;
}

.posts__inner {
    padding: 0 30px;
    width: 100%;
    color: #555555;
    transform: translateY(-20px);
}

.posts__title {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.posts__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}

.posts__square {
    display: block;
    background: #f9f7f2;
    z-index: 1000;
    height: 30px;
    width: 30px;
    transform: translateY(-14px) translateX(30px) rotate(45deg);
    left:50px;
}

.posts__item:hover .posts__square{
    background: #362f2d;
    transition: background .1s linear;
}

.posts__more {
    display: flex;
    text-decoration: none;
    color: #c7b299;
}

.posts__more:hover {
    color: #e5dbcf;
}

.posts__trian {
    padding-left: 5px;
    font-size: 10px;
    transform: translateY(4px);
}

.posts__slider .slick-slider {
    padding: 0 20px;
}

.posts__slider .slick-arrow {
    transform: translateY(210px);
}

.posts__slider .slick-next {
    right: 47%;
}

.posts__slider .slick-prev {
    left: 47%;
}

.posts__slider .slick-arrow:after {
    display: none;
}

.posts__slider .slick-arrow:before {
    color: #8b8b8b;
    font-size: 28px;
}

.posts__slider .slick-arrow:hover:before {
    color: #c7b299;
    transition: color .1s linear;
}


.posts__slider .slick-arrow:hover:after {
    border-top-color: #ccbba8;
    border-right-color: #ccbba8;
}

.posts__slider .slick-slider {
    padding-top: 0;
}

/* Partners */

.partners {
    background: url(../images/partners/bg.png) center no-repeat;
    width: 100%;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
}

.partners__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partners__item {
    padding: 15px;
}

.partners__img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Footer */

.footer {
    background: #191919;
    padding: 50px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__block {
    width: 23%;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.footer__name {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}

.footer__logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.footer__title {
    padding-top: 10px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 35px;
}

.footer__text {
    color: #919191;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 25px;
}

.footer__more {
    display: flex;
    text-decoration: none;
    color: #bdbdbd;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.footer__more:hover {
    color: #fff;
}

.footer__trian {
    padding-left: 5px;
    font-size: 10px;
    transform: translateY(4px);
}

.footer__post {
    display: flex;
    flex-wrap: wrap;
}

.footer__date {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #676767;
}

.footer__inner {
    color: #919191;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;

}

.footer__post:after {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #5d5d5d;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer__post:last-child:after {
    display: none;
}

.footer__post:hover .footer__date{
    color: #fff;
    transition: color .05s linear;
}

.footer__post:hover .footer__inner{
    color: #c7b299;
    transition: color .05s linear;
}

.footer__link {
    text-decoration: none;
    color: #02afdf;
    font-weight: 500;
}

.footer__twitter:after {
    content: "";
    display: block;
    width: 100%;
    border-top: 1px solid #5d5d5d;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer__twitter .footer__inner {
    margin-top: 0;
    margin-bottom: 5px;
}

.footer__time {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #676767;
}

.footer__bit {
    text-decoration: none;
    color: #cacaca;
}

.footer__photos {
    display: flex;
    flex-wrap: wrap;
}

.footer__img {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 3px 3px 0 0;
}


.copyright {
    display: flex;
    align-items: center;
    background: #111111;
    width: 100%;
    height: 110px;
}

.copyright__inner {
    display: flex;
    justify-content: space-between;
    color: #919191;
    font-family: 'Montserrat',sans-serif;
    font-size: 13px;
}

.copyright__link {
    text-decoration: none;
    color: #bdbdbd;
}

.copyright__link:hover {
    color: #c7b299;
}

.copyright__partners {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.copyright__design {
    display: block;
    margin-right: 15px;
    right: 0;
    margin-bottom: 5px;
}

/* Media */

@media (max-width: 1200px) {

    /* Intro */

    .slider__title {
        font-size: 48px;
    }
    .slider__subtitle {
        font-size: 32px;
    }

    .slider__text {
        font-size: 15px;
    }

    .nav {
        font-size: 13px;
    }

    .nav__link {
        margin: 0 10px;
    }

    /* Posts */

    .posts__inner {
        padding-left: 15px;
    }

    .posts__title {
        font-size: 16px;
    }

    .posts__subtitle {
        font-size: 12px;
    }

    /* Device */

    .device__photo {
        padding: 0 20px;
    }

}

@media (max-width: 990px) {

    /* Nav */

    .nav {
        display: none;
        position: absolute;
        background-color: rgba(25, 25, 25, 0.9);
        top: 100%;
        right: 0;
        width: 30%;
        padding-top: 5px;
        text-align: end;
    }

    .nav.active{
        display: block;
    }


    .nav__link {
        display: block;
        margin: 0;
        padding: 8px 20px;
    }

    .nav-toggle {
        display: block;
        margin-top: 25px;
        margin-right: 10px;
    }




     /* Intro */

    .slider__title {
        font-size: 44px;
    }
    .slider__subtitle {
        font-size: 28px;
    }
    .slider__text {
        font-size: 14px;
    }
    .slick-arrow:after {
        width: 40px;
        height: 40px;
    }

    /* Description */

    .description__title {
        font-size: 18px;
    }

    .description__text {
        font-size: 14px;
    }

    /* Ideas */

    .ideas__title {
        font-size: 24px;
    }

    .ideas__text {
        font-size: 14px;
    }

    /* Projects */

    .projects__item {
        width: 48%;
    }

    /* Partners */

    .partners__logos {
        flex-wrap: wrap;
    }

    .partners__item {
        width: 50%;
    }

    .partners__img {
        margin: 0 auto;
    }

    /* Footer */

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__block {
        width: 45%;
        margin-bottom: 10px;
    }

    .footer__photo {
        width: 50%;
    }

    .footer__logo {
        margin-bottom: 15px;
    }

    .footer__title {
        margin-bottom: 20px;
    }

    /* Copyright */

    .copyright__design {
        width: 100%;
        text-align: end;
    }

    /* Device */

    .device__photo {
        padding: 0;
    }

    .device__header {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .device__text {
        margin-bottom: 15px;
    }

    .device__points {
        padding-left: 25px;
    }

    .device__text,
    .device__points {
        font-size: 14px;
    }

    .fas.fa-chevron-circle-right {
        font-size: 17px;
    }

    /* Counters */

    .counters__item {
        flex: none;
        width: 33.3333333333%;
        border-right: none;
        border-bottom: 1px solid #c7b299;
    }

    .counters__item:nth-last-child(-n+2) {
        border-bottom: none;
    }




@media (max-width: 770px) {

    /* Intro */

    .intro__slider .slick-slider {
        padding: 80px 60px 0;
    }

    .intro__slider .slider__title {
        font-size: 36px;
    }

    .intro__slider .slider__subtitle {
        font-size: 26px;
    }

    .intro__slider .slider__text {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
    }

    .intro__slider .slick-arrow {
        width: 30px;
        height: 30px;
    }

    /* Description */

    .description__item {
        width: 48%;
    }

    /* Section */

    .section__title {
        font-size: 18px;
    }

    .section__text {
        font-size: 14px;
    }

    /* Ideas */

    .ideas__title {
        font-size: 20px;
    }

    .ideas__text {
        font-size: 12px;
    }


    .btn {
        width: 140px;
        height: 40px;
        font-size: 12px;
    }

    /* Projects */

    .projects__title {
        font-size: 18px;
    }

    .projects__subtitle {
        font-size: 12px;
    }

    .projects__buttons {
        justify-content: center;
    }

    /* Footer */

    .footer__img {
        padding: 5px 5px 0 0;
    }

    /* Device */

    .section.section--device {
        padding-top: 20px;
    }

    .device__inner {
        padding-bottom: 5px;
    }

    .device__img {
        width: 300px;
        height: 400px;
    }

    .device__header {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .device__text {
        margin-bottom: 10px;
    }

    .device__points {
        padding-left: 15px;
    }

    .device__text,
    .device__points {
        font-size: 11px;
    }

    .fas.fa-chevron-circle-right {
        font-size: 14px;
    }

    /* Posts */

    .posts__slider .slick-arrow {
        transform: translateY(230px);
    }

    .posts__slider .slick-next {
        right: 45%;
    }

    .posts__slider .slick-prev {
        left: 45%;
    }



}

@media (max-width: 575px) {

    /* Header */

    .header {
        padding-top: 10px;
    }

    .header__img {
        width: 50%;
    }

    .header__name {
        font-size: 24px;
        font-weight: 700;
    }

    .header__img {
        display: none;
    }

    .nav-toggle {
        top: 10%;
    }

    /* Nav */

    .nav {
        width: 100%;
        text-align: start;
    }


    /* Intro */

    .intro {
        min-height: 650px;
    }


    .slick-slider {
        padding: 0 30px;
    }

    .intro__slider .slick-dots {
        transform: none;
    }

    .slider__title {
        font-size: 32px;
    }

    .slider__subtitle {
        font-size: 22px;
    }

    .slider__text {
        font-size: 13px;
    }

    /* Description */

    .description__item {
        width: 100%;
    }

    .description__text {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }

    /* Ideas */

    .ideas__inner {
        justify-content: center;
        flex-wrap: wrap;
    }

    .ideas__content {
        width: 100%;
    }

    .ideas__title {
        display: flex;
        justify-content: center;
        font-size: 18px;
        flex-wrap: wrap;
    }

    .ideas__whiteword,
    .ideas__text {
        text-align: center;
    }

    .ideas__text {
        font-size: 12px;
    }

    .btn {
        margin-top: 20px;
    }

    /* Projects */

    .projects__item {
        width: 100%;
    }

    /* Footer */

    .footer__block {
        width: 100%;
        margin-right: 0;
    }
    /* Copyright */
    .copyright__partners {
        width: 100%;
        margin-top: 15px;
    }
    .copyright__inner {
        flex-wrap: wrap;
    }

    .copyright__menu {
        width: 100%;
        text-align: center;
    }

    .copyright__design {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    /* Device */

    .device__photo {
        display: none;
    }

    .device__header {
        text-align: center;
        font-size: 24px;
    }

    .device__content {
        padding: 0 20px;
    }

    .fas.fa-chevron-circle-right {
        margin-right: 15px;
    }

    /* Counters */

    .counters__item {
        width: 100%;
        padding: 0;
        border-bottom: 1px solid #c7b299;
    }

    .counters__item:nth-child(4) {
        border-bottom: 1px solid #c7b299;
    }

    .counters__item:last-child {
        border-bottom: none;
    }

    /* Posts */

    .posts__slider .slick-next {
        right: 40%;
    }

    .posts__slider .slick-prev {
        left: 40%;
    }


}

@media (max-width: 320px) {

    .intro__slider .slick-slider {
        padding: 0;
    }

    .intro__slider .slider__title {
        font-size: 20px;
    }

    .intro__slider .slider__subtitle {
        font-size: 16px;
    }

    .intro__slider .slider__text {
        font-size: 12px;
    }

    .intro__slider .slick-arrow {
        width: 20px;
        height: 20px;
        border-width: 2px;
    }

    li button:before {
        font-size: 14px!important;
        color: #9c9b9a!important;
    }

    .intro__slider .slick-prev {
        transform: translateY(60px) rotate(-135deg);
    }

    .intro__slider .slick-next {
        transform: translateY(60px) rotate(45deg);
    }


    /* Partners */

    .partners__item {
        padding: 5px;
    }

    /* Footer */

    .footer {
        padding: 50px 20px;
    }

    /* Device */

    .device__content {
        padding: 0;
    }
	}
}
